<.flash_group flash={@flash} />
<div class="text-center flex items-center justify-center">
  <img src={~p"/images/Sin título.png"} width="156" />
  <h1 class="text-3xl font-bold">QuetzálWeb</h1>
</div>

<.link
  navigate={~p"/posts"}
  class="rounded-lg light:bg-esmerald-10 dark:bg-teal-400 px-2 py-1 light:hover:bg-esmerald-100/80 dark:hover:bg-teal-600/80"
>
  Supervisar
</.link>
