<% Gettext.put_locale(PeriodisticWeb.Gettext, @gettext_locale) %>
<span
  id="client-prefs-hook"
  phx-hook="ClientPrefs"
  style="display:none">
</span>

<%= if @loading do %>

  <div class="text-center text-white p-8">
    <p class="text-xl animate-pulse">
      <%= gettext("Loading news") %>...
    </p>
  </div>

<% else %>

  <%= for post <- @posts do %>

    <div class="bg-esmerald-900/70 p-8 rounded-lg shadow-lg">

      <div class="text-center border border-white/40 rounded-lg p-8 bg-white/30 text-white">

        <h1 class="text-3xl">
          <em><%= post.title %></em>
        </h1>

        <h1>
          <%= gettext("Author") %>: <em><%= post.autor %></em>
        </h1>

        <h2 class="text-xl mt-2">
          <%= gettext("Post") %>: <em><%= post.email %></em>
        </h2>

        <hr class="my-4" />

        <h3 class="border border-teal-600 bg-teal-500 p-5 rounded-lg">
          <%= post.texto %>
        </h3>

        <div class="mt-4 space-y-1 text-sm">

          <p>
            <%= gettext("Created at") %>:
            <%= format_datetime(
              post.inserted_at,
              @timezone,
              @locale
            ) %>
          </p>

          <%= if post.inserted_at != post.updated_at do %>

            <p>
              <%= gettext("Updated at") %>:
              <%= format_datetime(
                post.updated_at,
                @timezone,
                @locale
              ) %>
            </p>

          <% end %>

        </div>

      </div>

    </div>

  <% end %>

<% end %>
